<div class="my-container mx-auto border border-dark">
  <div class="row g-0">
    <div class="col-4">
      <div class="d-flex justify-content-center align-items-center">
        <img src="/assets/Images/mobiles/10/1.jpg" class="w-100" alt="" />
      </div>

      <div
        class="image-thumbnails d-flex justify-content-between align-items-center"
      >
        <img src="/assets/Images/mobiles/10/1.jpg" alt="" />
        <img src="/assets/Images/mobiles/10/1.jpg" alt="" />
        <img src="/assets/Images/mobiles/10/1.jpg" alt="" />
        <img src="/assets/Images/mobiles/10/1.jpg" alt="" />
        <img src="/assets/Images/mobiles/10/1.jpg" alt="" />
      </div>
    </div>
    <div class="col-8"></div>
  </div>
  <div class="row g-0"></div>
  <div class="row g-0"></div>
</div>
