<div class="my-container mx-auto border">
  <div class="row g-0">
    <!-- product images  -->
    <div class="col-4 p-4">
      <div class="d-flex justify-content-center align-items-center">
        <img
          src="/assets/Images/mobiles/10/{{ imageIndex }}.jpg"
          class="w-100"
          alt=""
        />
      </div>

      <div
        class="image-thumbnails mt-4 d-flex justify-content-between align-items-center"
      >
        <img
          src="/assets/Images/mobiles/10/1.jpg"
          alt=""
          (click)="imageIndex = 1"
        />
        <img
          src="/assets/Images/mobiles/10/2.jpg"
          alt=""
          (click)="imageIndex = 2"
        />
        <img
          src="/assets/Images/mobiles/10/3.jpg"
          alt=""
          (click)="imageIndex = 3"
        />
        <img
          src="/assets/Images/mobiles/10/4.jpg"
          alt=""
          (click)="imageIndex = 4"
        />
        <img
          src="/assets/Images/mobiles/10/5.jpg"
          alt=""
          (click)="imageIndex = 5"
        />
      </div>
    </div>
    <!-- product details -->
    <div class="col-8">
      <div class="card">
        <div class="card-header">
          <h2>Header</h2>
        </div>
        <div class="card-body">
          <h1 class="card-title text-success">
            Final Price
            <span class="text-primary">-20%</span>
          </h1>
          <h4 class="card-subtitle text-danger text-decoration-line-through">
            Original Price
          </h4>
        </div>
        <div class="card-body"></div>
        <div class="card-body"></div>
      </div>
    </div>
  </div>
  <!-- summary and reviews -->
  <div class="row g-0"></div>
  <div class="row g-0"></div>
</div>
